
<h1>Country Info</h1>
<div>



  <div>
    <input type="text" pInputText [(ngModel)]="country"/>

  <p-button type="button" label="Danger" class="p-button-danger" onclick="" >  Get Country Info </p-button>
  <p-button id="delete" type="button"  label="success" class="p-button-success" onclick="deleteIndex()"> Clear </p-button>

    <p-button label="Click" ></p-button>
  </div>




</div>


<div> <button type="button" pButton label="Warning" class="p-button-warning" onclick="document.getElementById('clock').innerHTML = Date()">Click me to display Date and Time.</button>
  <p id="clock"></p></div>





