body{background: lightblue; font-family: verdana; color: white; padding: 30px; }
h1{font-size: 48px; text-transform: uppercase; color: darkkhaki ;letter-spacing: 2px; text-align: center;}
p{font-size: 24px; text-align: center; font-family: serif; padding: 30px;}
div{font-size: 24px; color: white; font-family: serif; padding: 30px ; }

div { background-color: #9a6363; }



